/* Area di scorrimento */
#right {
	width: 650px;
	height: 154px;
	overflow: hidden;
	border: 2px solid #CCCCCC;
	padding: 0px;
	clear:both;
	}

/* Immagini */
#right img {
	height: 150px;
	margin: 2px;
	border: 0px;
	clear:both;
	}